*{
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.home-text container {
    text-align: center;
    position: relative;
    display: flex;
}

.home-title {
    font-size: 49.5px;
    margin-top: 3.4em;
    margin-left: 2em;
    font-family: 'EB Garamond', serif;
    text-shadow: 3px 3px rgb(0, 70, 21);
}

.home-subtitle {
    font-size: 49px;
    margin-top: 10px;
    margin-left: 1em;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
    text-shadow: 3px 3px rgb(0, 70, 21);
}