footer a:hover {
    font-weight: normal;
    background-color: rgb(87, 27, 125);
}

footer {
    background-color: black;
    display: flex;
    font-size: 1.35rem;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    // opacity: 0.7;
    height: 30px;
    font-size: 16px;
    background-color: #000000;
}