.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    height: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

h2 {
    font-style: italic;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 10px;
    cursor: pointer;
    text-shadow: 3px 3px rgb(0, 70, 21);
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem 1.4rem;
}

.main {
    padding-left: 7rem;
}

ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(30, 107, 23);
    display: block;
    // margin: auto;
    transition: .4s;
}

ul li:hover::after{
    width: 100%;
}

.auth a {
    cursor: pointer;
} 