<div class="header">
  <h2>Food Blog</h2>

  <div class="main">
      <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/recipe/recent">Recipes</a></li>
          <ng-container *ngIf="isLoggedIn">
              <li><a routerLink="/recipe/new">Post Recipe</a></li>
          </ng-container>
      </ul>
  </div>
  
  <div class="auth">
      <ul>
          <ng-container *ngIf="!isLoggedIn">
              <li><a routerLink="/auth/login">Login</a></li>
              <li><a routerLink="/auth/register">Register</a></li>
          </ng-container>
          <ng-container *ngIf="isLoggedIn">
              <li><a routerLink="/auth/profile">{{user?.username}}'s profile</a></li>
              <li><a routerLink="/auth/logout">Logout</a></li>
          </ng-container>
      </ul>
  </div>
</div>